.main-container {
    display: flex;
    justify-content: center;
    margin: 10vh 0;
}

.form-container {
    border: 1px solid black;
    width: 20vw;
    max-height: 100vh;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 40px;
    background-color: #86AB89;
}

.loginheader {
    font-family: "New Amsterdam", sans-serif;
    color: #921A40;
    font-size: 2.2rem;
    text-align: center;
    margin: 0 0 15%;
}

input {
    margin: 2vh;
    font-size: 1.5vw;
    border-radius: 5px;
    border: none;
    height: 5vh;
    font-size: 1rem;
    width: 18vw;
    padding: 0 10px;
}

label {
    text-align: left;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: "Edu VIC WA NT Beginner";
}

button {
    margin: 2vh auto;
    display: block;
    background-color: #CCD5AE;
    width: 50%;
    height: 7vh;
    font-size: 1.2rem;
    font-family: "Edu VIC WA NT Beginner";

}
.error-message{
    color: #921A40;
    text-align: center;   
}
.lowerprompt{
    margin: 25px 0 0 0;
    text-align: center;
    font-size: 1.1rem;
    color: aliceblue;
}
.lowerprompt a{
    text-decoration: none;
    color: rgb(5, 5, 120);
}